
<!-- //////////////////////////////////subscription page//////////////////////////////////////////// -->

<br>
<br>



<div class="card mx-auto" style="width: 40rem;">
    
    <div class="card-body">
      <br>
      <h5 class="card-title">Join Us Now</h5>
          <p class="card-text"></p>
      <br>
        <form class="row g-3">
            <div class="col-md-6">
              <label for="validationServer01" class="form-label">First name</label>
              <input type="text" class="form-control valid" id="validationServer01"  required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationServer02" class="form-label">Last name</label>
              <input type="text" class="form-control valid" id="validationServer02"   required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-5">
                <label for="validationServerUsername" class="form-label">Username</label>
                <div class="input-group has-validation">
                  
                  <input type="text" class="form-control valid" id="validationServerUsername"  aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Please choose a username.
                  </div>
                </div>
              </div>

              <div class="col-md-7">
                <label for="validationServerUsername" class="form-label">Email</label>
                <div class="input-group has-validation">
                  
                  <input type="text" class="form-control valid" id="validationServerUsername"  aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                  <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    Please choose an email.
                  </div>
                </div>
              </div>
            <div class="col-md-12">
              <label for="validationServer03" class="form-label">Address</label>
              <input type="text" class="form-control valid" id="validationServer03"  aria-describedby="validationServer03Feedback" required>
              <div id="validationServer03Feedback" class="invalid-feedback">
                Please provide a valid address.
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationServer04" class="form-label">Subscription</label>
              <select class="form-select valid" id="validationServer04"  aria-describedby="validationServer04Feedback" required>
                <option selected disabled value="">Choose...</option>
                <option>...</option>
              </select>
              <div id="validationServer04Feedback" class="invalid-feedback">
                Please select a valid subscription.
              </div>
            </div>
            <div class="col-md-6">
              <label for="validationServer05" class="form-label">Timing</label>
              <input type="text" class="form-control valid" id="validationServer05"  aria-describedby="validationServer05Feedback" required>
              <div id="validationServer05Feedback" class="invalid-feedback">
                Please provide a valid timing.
              </div>
            </div>
            
            <div class="col-12 offset-5">
              <br>
              <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
            <br>
          </form>
        

    </div>
  </div>

  <br>


  <!-- [(ngModel)]="Firstname" name="Firstname"
  [(ngModel)]="Lastname" name="Lastname"
  [(ngModel)]="Username" name="Username"
  [(ngModel)]="Email" name="Email"
  [(ngModel)]="Address" name="Address"
  [(ngModel)]="Subscription" name="Subscription"
  [(ngModel)]="Timing" name="Timing" -->